/* primary orange button  
    .primayButton{
      
    }
 <button className="relative self-center px-16 py-5 lg:px-10 mt-11 max-w-full text-base font-bold text-center text-white bg-orange-400 border border-orange-400 rounded-[800px] w-[708px] group overflow-hidden transition-transform transform active:scale-95">
  <span className="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-orange-600 group-hover:w-full ease"></span>
  <span className="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-orange-600 group-hover:w-full ease"></span>
  <span className="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-orange-600 group-hover:h-full ease"></span>
  <span className="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-orange-600 group-hover:h-full ease"></span>
  <span className="absolute inset-0 w-full h-full duration-300 delay-300 bg-orange-500 opacity-0 group-hover:opacity-100 rounded-[800px]"></span>
  <span className="relative transition-colors duration-300 delay-200 group-hover:text-black ease">
    Contact Us
  </span>
</button>

*/



/*
white button



*/


/* 
slider buttons 

*/
.fadeIn{
 -webkit-mask-image: linear-gradient(#000 , rgb(0,0,0,0));
  mask-image: linear-gradient(#000 , rgb(0,0,0,0));
}
.active-filter {
  filter: brightness(0) saturate(100%) invert(27%) sepia(77%) saturate(1742%) hue-rotate(0deg) brightness(100%) contrast(70%);
}
